<div class="right">
  <div class="titre">
    <h2>Tableau du bord</h2>
  </div>
  <div class="EncheresGraphs">
    <h3>Mes Enchères</h3>
    <div class="list">
      <div class="item">
        <img src="https://cdn-icons-png.freepik.com/512/6947/6947168.png">
        <h4>Disponibles</h4>
        <p>{{ disponibles }}</p>
      </div>
      <div class="item">
        <img src="https://cdn0.iconfinder.com/data/icons/business-and-management-1/24/WORK_DONE_FINISH-512.png">
        <h4>Conclu</h4>
        <p>{{ conclu }}</p>
      </div>
      <div class="item">
        <img src="https://static.thenounproject.com/png/3847261-200.png">
        <h4>En Attente</h4>
        <p>{{ enAttente }}</p>
      </div>
    </div>
  </div>
  <a class="button" routerLink="/CreateEnchere">Démarrer une enchère</a>
</div>
